/**
* @desc         setup variables.
* @requires     none
*/

// [color - variables]
// branding
$primary-color: #2ac768;
$danger-color: #ff0000;
$danger-light-color: #FFD1D1;
$warn-color: #dab214;
$warn-light-color: #eae0b2;
$info-color: #5ddbf1;
$info-light-color: #afecf7;

// text
$text-color: #292828;
$title-color: #424a4b;
$text-tone-color: #707070;
$text-light-color: #a2a2a2;
$text-dark-color: #072e2a;

// body
$body-background: #f2f0f0;

// font family
$font-family-title: "Montserrat", sans-serif;
$font-family-default: "Nunito", sans-serif;
$font-family-special: "Playfair Display", sans-serif;

// border colors
$border-color: #d5d8da;
$border-divider: #dbdbdb;

// border radius
$border-radius-default: 10px;
$border-radius-p-btn: $border-radius-default;
$border-radius-s-btn: 50px;
$border-radius-input: $border-radius-default;
$border-radius-chip: 50%;
$border-radius-bubble: 50%;

// shadows
$box-shadow-light: 0px 5px 30px rgba(0, 0, 0, 0.116);
$box-shadow-medium: 0px 25px 30px #0000000f;
$box-shadow-strong: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

//breakpoints
$breakpoints: (
  "xsmall": 480px,
  "small": 768px,
  "medium": 960px,
  "large": 1170px
) !default;
