@import "../../styles/variables";
@import "../../styles/placeholder";

.content {
  width: 100%;
  position: relative;
  &::before {
    @extend %bg-img;
    background-image: url("../../assets/bg-left.svg");
    left: -20px;
  }
  &::after {
    @extend %bg-img;
    background-image: url("../../assets/bg-right.svg");
    right: -20px;
    top: -20px;
  }
}
