@import "../../styles/variables";

.detail-wrapper {
  padding-top: 50px;
  .img-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      position: absolute;
      max-width: 450px;
    }
  }

  .info-section {
    .brand {
      font-size: 18px;
      font-weight: 200;
      color: $text-tone-color;
      font-family: $font-family-default;
    }
    .block {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
    .name {
      font-size: 32px;
      font-weight: 500;
      color: $title-color;
      font-family: $font-family-title;
    }
    .price {
      font-size: 32px;
      font-weight: 700;
      color: $primary-color;
      font-family: $font-family-default;
    }

    .review {
      margin-top: 10px;
      font-size: 12px;
      font-weight: 500;
      color: $text-tone-color;
      font-family: $font-family-default;
      display: flex;
      align-items: center;
      .weight {
        margin-left: 18px;
        margin-right: 3px;
      }
    }
    .desc {
      padding-top: 44px;
      font-weight: 500;
      color: $text-color;
      font-family: $font-family-default;
      line-height: 1.5;
    }

    .warning {
      color: $warn-color;
      font-size: 12px;
      margin-bottom: 12px;
    }

    .danger {
      color: $danger-color;
      font-size: 12px;
      margin-bottom: 12px;
    }

    .empty-selection {
      font-size: 14px;
      font-weight: 500;
      color: $text-light-color;
      font-family: $font-family-default;
      margin-bottom: 12px;
    }

    .action {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .total {
        display: flex;
        align-items: center;
        p {
          margin-left: 14px;
          font-size: 15px;
          font-weight: 700;
          color: $text-color;
          font-family: $font-family-default;
        }
      }
      .error {
        font-size: 16px;
        color: $text-light-color;
        font-family: $font-family-default;
        display: flex;
        align-items: center;
        img {
          margin-right: 5px;
        }
      }
    }
  }
}
