@import "../../styles/variables";

.header {
  align-items: center;
  display: flex;
  background: $primary-color;
  height: 85px;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  .content {
    display: flex;
    justify-content: space-between;
  }
  .actions {
    display: flex;
    > :first-child {
      margin-right: 16px;
    }
  }
}
